@import "bootstrap";


.github-field {
  margin: 0 auto;
  width: 350px;
  button {
    margin-left: 10px;
  }
}
.loading {
  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.9;
    z-index: 2;
  }

  .loading-container {
    position: fixed;
    margin: auto;
    padding: 14px;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 3;
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

.not-found {
  text-align: center;
}


.repo {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 200px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 20px;
}
